Repository 10up/10up-experience: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

.lintstagedrc.json:

{
  "*.css": [
    "10up-toolkit lint-style --allow-empty-input"
  ],
  "*.js": [
    "10up-toolkit lint-js --allow-empty-input"
  ],
  "*.php": [
    "./vendor/bin/phpcs --extensions=php --warning-severity=8 -s"
  ]
}

fix SSO button display in RTL
  includes/classes/SSO/SSO.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add hosting provider detection, multisite flag, and user profile URLs
  includes/classes/SupportMonitor/Monitor.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix PHPCS: replace short ternary and fix alignment
  includes/classes/SupportMonitor/Monitor.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add .eslintignore and remove redundant eslint_flags from CI
  .eslintignore
  .github/workflows/lint.yml
Due: none

Add automated release GitHub Action workflow
  .distignore
  .github/workflows/release.yml
  README.md
Due: none

Move hostingProvider and isMultisite from customData to top-level body
  includes/classes/SupportMonitor/Monitor.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Apply suggestions from code review
  README.md
  includes/classes/Comments/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Address review feedback: honour explicit comment/type__in queries, fix @since tags
  README.md
  includes/classes/Comments/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix node version
  .github/workflows/lint.yml
Due: none

fix: enable SSL verification by disabling https_ssl_verify override
  10up-experience.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Build assets
  dist/css/tenup-pages.asset.php
  dist/css/tenup-pages.css
Due: 10up-toolkit lint-style --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

chore(release): bump version to 1.18.0
  10up-experience.php
  CHANGELOG.md
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Respect disabled block allowlists
  includes/classes/Comments/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Require capability to dismiss welcome notice
  includes/classes/Notifications/Welcome.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Cache HIBP prefix responses
  includes/classes/Authentication/Passwords.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add SSO proxy request timeout
  includes/classes/SSO/SSO.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix: whitespace-only passwords bypass the strong-password policy
  includes/classes/Authentication/Passwords.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Rebrand Experience plugin for Fueled 1.19.0
  10up-experience.php
  CHANGELOG.md
  assets/css/admin.css
  assets/css/tenup-pages.css
  assets/img/fueled-about-hero.webp
  assets/img/fueled-bolt.svg
  assets/img/fueled-client-campbells.svg
  assets/img/fueled-client-google.svg
  assets/img/fueled-client-logos.png
  assets/img/fueled-client-salesforce.svg
  assets/img/fueled-logo.svg
  dist/css/admin.asset.php
  dist/css/admin.css
  dist/css/tenup-pages.asset.php
  dist/css/tenup-pages.css
  dist/img/fueled-about-hero.webp
  dist/img/fueled-bolt.svg
  dist/img/fueled-client-campbells.svg
  dist/img/fueled-client-google.svg
  dist/img/fueled-client-logos.png
  dist/img/fueled-client-salesforce.svg
  dist/img/fueled-logo.svg
  includes/classes/AdminCustomizations/Customizations.php
  includes/classes/Notifications/Welcome.php
  includes/classes/Plugins/Plugins.php
  includes/classes/SupportMonitor/Monitor.php
Due: 10up-toolkit lint-style --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

feat: add react-powered fueled experience settings screen via @wordpress/boot
  .stylelintignore
  10up-experience.php
  CHANGELOG.md
  assets/js/admin-settings/admin.css
  assets/js/admin-settings/content.js
  assets/js/admin-settings/route.js
  esbuild.boot.mjs
  includes/classes/Settings/SettingsScreen.php
  package-lock.json
  package.json
Due: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

chore: build boot settings assets
  dist/modules/settings/content.asset.php
  dist/modules/settings/content.css
  dist/modules/settings/content.js
  dist/modules/settings/loader.js
  dist/modules/settings/route.asset.php
  dist/modules/settings/route.js
Due: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

feat: boot-render about and experience pages, refine boot screens
  CHANGELOG.md
  assets/css/admin.css
  assets/js/admin-about/admin.css
  assets/js/admin-about/content.js
  assets/js/admin-about/route.js
  assets/js/admin-experience/admin.css
  assets/js/admin-experience/content.js
  assets/js/admin-experience/route.js
  assets/js/admin-settings/admin.css
  assets/js/admin-settings/content.js
  assets/js/admin-shared/AdminPageLayout.js
  assets/js/admin-shared/boot-layout.css
  dist/css/admin.asset.php
  dist/css/admin.css
  dist/modules/about/content.asset.php
  dist/modules/about/content.css
  dist/modules/about/content.js
  dist/modules/about/loader.js
  dist/modules/about/route.asset.php
  dist/modules/about/route.js
  dist/modules/experience/content.asset.php
  dist/modules/experience/content.css
  dist/modules/experience/content.js
  dist/modules/experience/loader.js
  dist/modules/experience/route.asset.php
  dist/modules/experience/route.js
  dist/modules/settings/content.asset.php
  dist/modules/settings/content.css
  dist/modules/settings/content.js
  dist/modules/settings/route.asset.php
  dist/modules/settings/route.js
  esbuild.boot.mjs
  includes/classes/AdminCustomizations/Customizations.php
  includes/classes/BootPages/AboutPage.php
  includes/classes/BootPages/AbstractBootPage.php
  includes/classes/BootPages/ExperiencePage.php
  includes/classes/Settings/SettingsScreen.php
Due: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

PR #236 screenshots
  about-screen.jpg
  experience-cards.jpg
  experience-screen.jpg
  settings-screen.jpg
Due: none

fix: restore label scale and rhythm on boot pages, hash css in asset manifests
  assets/js/admin-about/admin.css
  assets/js/admin-experience/admin.css
  dist/modules/about/content.asset.php
  dist/modules/about/content.css
  dist/modules/about/content.js
  dist/modules/experience/content.asset.php
  dist/modules/experience/content.css
  dist/modules/settings/content.asset.php
  esbuild.boot.mjs
Due: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

update experience screenshots
  experience-cards.jpg
  experience-screen.jpg
Due: none

full-page screenshots
  about-screen.jpg
  about-screen.png
  experience-cards.jpg
  experience-screen.jpg
  experience-screen.png
  settings-screen.jpg
  settings-screen.png
Due: none

fix: tighten admin bar bolt icon right padding to 4px
  assets/css/admin.css
  dist/css/admin.asset.php
  dist/css/admin.css
Due: 10up-toolkit lint-style --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Validate HIBP range responses before trusting or caching them
  includes/classes/Authentication/Passwords.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Validate the password WordPress stores, not a sanitized copy of it
  includes/classes/Authentication/Passwords.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Gate the welcome notice render and script on the dismiss capability
  includes/classes/Notifications/Welcome.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Preserve an explicit empty-array deny-all in remove_comment_blocks
  includes/classes/Comments/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Guard against array pass1 input
  includes/classes/Authentication/Passwords.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Allow a fractional HIBP request timeout and floor invalid values
  includes/classes/Authentication/Passwords.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Allow a fractional SSO proxy request timeout and floor invalid values
  includes/classes/SSO/SSO.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s
