Repository 10up/10up-experience: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update version to 1.16.0
  10up-experience.php
  CHANGELOG.md
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Revert branding
  .husky/pre-commit
  10up-experience.php
  CHANGELOG.md
  README.md
  assets/img/logo.png
  assets/img/logo@2x.png
  assets/img/tenup.svg
  composer.json
  includes/classes/AdminCustomizations/Customizations.php
  includes/classes/Authentication/Passwords.php
  includes/classes/Authors/Authors.php
  includes/classes/Notifications/Welcome.php
  includes/classes/Plugins/Plugins.php
  includes/classes/SupportMonitor/Monitor.php
  package.json
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update constant
  10up-experience.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update version to 1.16.1
  10up-experience.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Button styling
  10up-experience.php
  CHANGELOG.md
  includes/classes/SSO/SSO.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Updated fueled SSO button to match figma comps
  includes/classes/SSO/SSO.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update version to 1.16.3
  10up-experience.php
  CHANGELOG.md
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix for padding
  includes/classes/SSO/SSO.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

1.16.4
  10up-experience.php
  CHANGELOG.md
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update phpcs configuration
  phpcs.xml
Due: none

Update to versioned phpcs-composer package
  composer.json
  composer.lock
  dist/img/planet.png
Due: none

Use command in workflow
  .github/workflows/lint.yml
Due: none

Automatic fixes
  includes/classes/Comments/Comments.php
  includes/classes/SupportMonitor/Monitor.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Manual fixes and ignores
  includes/classes/API/API.php
  includes/classes/AdminCustomizations/Customizations.php
  includes/classes/Plugins/Plugins.php
  includes/classes/SSO/SSO.php
  includes/classes/SupportMonitor/Debug.php
  phpcs.xml
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove artifact
  dist/img/planet.png
Due: none

Parameter count fix
  includes/classes/AdminCustomizations/Customizations.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Disable monitor when working locally
  includes/classes/SupportMonitor/Monitor.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Reduce logo size
  assets/img/planet.png
Due: none

Version bump
  10up-experience.php
  CHANGELOG.md
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Make sure user roles are unindexed arrays
  includes/classes/SupportMonitor/Monitor.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add WordPress 6.9+ Block Notes compatibility to disable comments feature
  CHANGELOG.md
  README.md
  includes/classes/Comments/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix phpcs
  includes/classes/Comments/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Set the label, color, and icon for the local environment
  assets/css/admin.css
  dist/css/admin.asset.php
  dist/css/admin.css
  dist/img/planet.png
  includes/classes/AdminCustomizations/EnvironmentIndicator.php
Due: 10up-toolkit lint-style --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Document the rest api allowed route filter
  README.md
  includes/classes/API/API.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Refactor markup to follow WordPress standards
  includes/classes/Authentication/Passwords.php
  includes/classes/Gutenberg/Gutenberg.php
  includes/classes/PostPasswords/PostPasswords.php
  includes/classes/SupportMonitor/Monitor.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add composer installers to the required dependencies
  composer.json
  composer.lock
  vendor/bjeavons/zxcvbn-php/.github/workflows/ci.yml
  vendor/bjeavons/zxcvbn-php/composer.json
  vendor/bjeavons/zxcvbn-php/phpstan.neon
  vendor/bjeavons/zxcvbn-php/src/Matchers/BaseMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/Bruteforce.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/DateMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/DictionaryMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/L33tMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/RepeatMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/ReverseDictionaryMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/SequenceMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/SpatialMatch.php
  vendor/bjeavons/zxcvbn-php/src/Matchers/YearMatch.php
  vendor/bjeavons/zxcvbn-php/src/Math/Binomial.php
  vendor/bjeavons/zxcvbn-php/src/Math/BinomialProvider.php
  vendor/bjeavons/zxcvbn-php/src/Math/Impl/AbstractBinomialProvider.php
  vendor/bjeavons/zxcvbn-php/src/Math/Impl/AbstractBinomialProviderWithFallback.php
  vendor/bjeavons/zxcvbn-php/src/Math/Impl/BinomialProviderFloat64.php
  vendor/bjeavons/zxcvbn-php/src/Math/Impl/BinomialProviderInt64.php
  vendor/bjeavons/zxcvbn-php/src/Math/Impl/BinomialProviderPhp73Gmp.php
  vendor/bjeavons/zxcvbn-php/src/Scorer.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update API.php
  includes/classes/API/API.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix indenting
  includes/classes/API/API.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add tenup_experience_environment_type_label to README
  README.md
Due: none

Build everything
  dist/css/admin.asset.php
  dist/css/admin.css
  dist/css/admin.css.map
  dist/css/passwords-styles.asset.php
  dist/css/passwords-styles.css
  dist/css/passwords-styles.css.map
  dist/css/tenup-pages.asset.php
  dist/css/tenup-pages.css
  dist/css/tenup-pages.css.map
  dist/img/10up-image-1.jpg
  dist/img/10up-image-2.jpg
  dist/img/logo.png
  dist/img/logo@2x.png
  dist/img/planet.png
  dist/img/tenup.svg
  dist/js/notices.asset.php
  dist/js/notices.js
  dist/js/notices.js.map
  dist/js/passwords.asset.php
  dist/js/passwords.js
  dist/js/passwords.js.map
  package-lock.json
Due: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update markup for options on Comments and SSO
  includes/classes/Comments/Comments.php
  includes/classes/SSO/SSO.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Allow filtering of the environment labels and their meta data
  README.md
  assets/css/admin.css
  dist/css/admin.asset.php
  dist/css/admin.css
  dist/css/admin.css.map
  dist/css/passwords-styles.asset.php
  dist/css/passwords-styles.css
  dist/css/passwords-styles.css.map
  dist/css/tenup-pages.asset.php
  dist/css/tenup-pages.css
  dist/css/tenup-pages.css.map
  dist/img/10up-image-1.jpg
  dist/img/10up-image-2.jpg
  dist/img/logo.png
  dist/img/logo@2x.png
  dist/img/planet.png
  dist/img/tenup.svg
  dist/js/notices.asset.php
  dist/js/notices.js
  dist/js/notices.js.map
  dist/js/passwords.asset.php
  dist/js/passwords.js
  dist/js/passwords.js.map
  includes/classes/AdminCustomizations/EnvironmentIndicator.php
Due: 10up-toolkit lint-style --allow-empty-input, 10up-toolkit lint-js --allow-empty-input, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix pass eslint flags to linting action to ingore dist & use correct config file
  .github/workflows/lint.yml
Due: none

code review feedback
  includes/classes/AdminCustomizations/EnvironmentIndicator.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

filter
  includes/classes/AdminCustomizations/EnvironmentIndicator.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Improve safety check for plugin update counter
  includes/classes/Plugins/Plugins.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/lint.yml
Due: none

add spacing in workflow
  .github/workflows/lint.yml
Due: none

Path conditions:
  10up-toolkit lint-style --allow-empty-input: any of: *.css
  10up-toolkit lint-js --allow-empty-input: any of: *.js
  ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s: any of: *.php
